@import "compass/css3";

$body-bg: #4da6bb;
$left-sidebar-bg: #353030;
$white: #ffffff;

$main: #1ab188;
$secondary:#d9534f;

$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;
$sidebar-width: 30%;
$form-width: calc($sidebar-width - 2%);

$slideDisconnected: $secondary;
$slideConnected: $main;

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body,
html {
  background: $body-bg;
  overflow: visible;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}


#slideOut {
  position: fixed;
  width: 300px;
  height: 800px;
  top: 55px;
  right: -300px;
  /* Animation  */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  z-index: 999;
}

.connection-alert {
  width: 300px;
  position: fixed;
  bottom: 10px;
  right: 30px;
}


/* Display slideOut */

.showSlideOut {
  right: 0px !important;
}

/* Tab */

.slideOutTab {
  margin-top: 50px;
  position: absolute;
  left: -40px;
  height: 200px;
  width: 40px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background: $slideDisconnected;
  border-radius: 15px 0px 0px 15px;
}

.slideOutTab div {
  text-align: center;
  color: $white;
  letter-spacing: 2px;
  position: relative;
  right: 70px;
  top: 90px;
  background: $slideDisconnected;
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
}

/* Tab connected */

.slideConnectedTab {
  background: $slideConnected;
}

.slideConnectedTab div {
  background: $slideConnected;
}

/* None relevant included styling */



.modal-body {
  height: 400px;
}

//Sidebar
 .sidebar {
   position: fixed;
   width: $sidebar-width;
   height: 100vh;
   background: $left-sidebar-bg;
 }

 .content {
   height: 100%;
   width: auto;
   position: relative;
   overflow: auto;
   z-index: 1;
 }

 .info {
   width: 96%;
   height: 90vh;
   position: relative;
 }

 @media (min-width:600px) {
   .sidebar {
     width: $sidebar-width;
   }
   .content {
     margin-left: $sidebar-width;
   }
 }


//content

.listening{
  margin-top: 10px;
  margin-left: 10px;
}

.controls {
  margin-top: 10px;
  margin-bottom: 10px;
}

.collapse-group {
  padding-left: 10px;
  margin-bottom: 10px;
}

.panel-title .trigger:before {
  content: '\e082';
  font-family: 'Glyphicons Halflings';
  vertical-align: text-bottom;
}

.panel-title .trigger.collapsed:before {
  content: '\e081';
}

.btn { margin-left: 4px; }

 #eventPanels .panel-heading {
        cursor: move;
    }
 #eventPanels2 .panel-heading {
        cursor: move;
    }

.navbar{
  margin-bottom: 0;
}

//Formulaire

.form {
  padding: 20px;
  max-width: $form-width;
  box-shadow:0 4px 10px 4px rgba($left-sidebar-bg,.3);
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 20px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:10px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}

label {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
  height: 60vh;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:100%;
}

.btn-listening {
  color: $white;
  background-color: $main;
}

#editor {
  height:60vh;
}

pre {
  background-color: #f4ecec;
}

.button-link{
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444;
  cursor: pointer;
}

.white-link{
  color:$white;
}

.count {
  color: $secondary;
}

.scrollHistory
{
  max-height: 80vh;
  overflow-y: scroll;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 25px;
  background-color: #e7e7e7;

}

.footer .container {
  width: 40%;
  text-align: right;
}

ul>li.file{
  display: inline-flex !important;
}

.dropdown .file:first-child a.remove {
  padding-top: 10px;
}

.dropdown .file a.remove {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 10px;
  padding: 0 10px;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}


.label {
  font-weight: 300;
  letter-spacing: 1px;
}
